$background-color: hsl(216, 12%, 8%);
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: $background-color;
}
.App {
  display: flex;
  width: 100vw;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
p {
  font-size: 15px;
}
