$background: hsl(213, 19%, 18%);
.wrap__result {
  color: white;
  width: 400px;
  height: 370px;
  background: $background;
  border-radius: 20px;
  padding: 25px;

  &__content {
    display: grid;
    justify-items: center;
    align-items: center;
  }
}
