@media screen and (max-width: 430px) {
  .wrap__home {
    width: 335px;
    height: 350px;
    padding: 20px;
    &__content {
      &__star {
        width: 40px;
        height: 40px;
      }
      h1 {
        font-size: 24px;
        margin-top: 15px;
      }
      p {
        margin-bottom: 15px;
      }
    }
  }
}
